.name_content {
  padding: 0.15rem;
  justify-content: space-between;
  width: 100%;
  background: #00a3d2;
  background-size: 6.9rem 2.2rem;
  align-items: center;
  margin: 0 0 0.2rem 0;
  .search{
    border: 1px solid #00a3d2;
    border-radius: 2rem;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    margin-top: 0;
  }
}
