<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starzone.dao.master.SzSpendDetailsDao">
	<resultMap id="BaseResultMap" type="com.starzone.pojo.SzSpendDetails">
	<id column="id" jdbcType="VARCHAR" property="id" />
	<id column="name" jdbcType="VARCHAR" property="name" />
	<id column="detail_show_way" jdbcType="VARCHAR" property="detailShowWay" />
	<id column="pic_url" jdbcType="VARCHAR" property="picUrl" />
	<id column="color" jdbcType="VARCHAR" property="color" />
	<id column="season" jdbcType="VARCHAR" property="season" />
	<id column="price" jdbcType="VARCHAR" property="price" />
	<id column="snacks" jdbcType="VARCHAR" property="snacks" />
	<id column="big_eat" jdbcType="VARCHAR" property="bigEat" />
	<id column="simple_eat" jdbcType="VARCHAR" property="simpleEat" />
	<id column="oil" jdbcType="VARCHAR" property="oil" />
	<id column="rice" jdbcType="VARCHAR" property="rice" />
	<id column="discount" jdbcType="VARCHAR" property="discount" />
	<id column="buy_way" jdbcType="VARCHAR" property="buyWay" />
	<id column="happen_time" jdbcType="VARCHAR" property="happenTime" />
	<id column="create_time" jdbcType="VARCHAR" property="createTime" />
	<id column="favorite_time" jdbcType="VARCHAR" property="favoriteTime" />
	<id column="favorite_degree" jdbcType="VARCHAR" property="favoriteDegree" />
	<id column="size" jdbcType="VARCHAR" property="size" />
	<id column="buy_age" jdbcType="VARCHAR" property="buyAge" />
	<id column="period" jdbcType="VARCHAR" property="period" />
	<id column="detail_type" jdbcType="VARCHAR" property="detailType" />
	<id column="address" jdbcType="VARCHAR" property="address" />
	<id column="owner" jdbcType="VARCHAR" property="owner" />
	<id column="water_spend" jdbcType="VARCHAR" property="waterSpend" />
	<id column="type" jdbcType="VARCHAR" property="type" />
	<id column="electric_spend" jdbcType="VARCHAR" property="electricSpend" />
	<id column="living_type" jdbcType="VARCHAR" property="livingType" />
	<id column="happy_degree" jdbcType="VARCHAR" property="happyDegree" />
	<id column="who" jdbcType="VARCHAR" property="who" />
	<id column="is_return" jdbcType="VARCHAR" property="isReturn" />
	<id column="out_or_get" jdbcType="VARCHAR" property="outOrGet" />
	<id column="ext1" jdbcType="VARCHAR" property="ext1" />
	<id column="ext2" jdbcType="VARCHAR" property="ext2" />
	<id column="ext3" jdbcType="VARCHAR" property="ext3" />
	<id column="ext4" jdbcType="VARCHAR" property="ext4" />
	<id column="ext5" jdbcType="VARCHAR" property="ext5" />
	<id column="period" jdbcType="INTEGER" property="periodInt" />
	<id column="detail_type" jdbcType="INTEGER" property="detailTypeInt" />
	<id column="happy_degree" jdbcType="INTEGER" property="happyDegreeInt" />
	</resultMap>
	<sql id="BASE_COLUMN_LIST">
	id, name, detail_show_way, pic_url, color, season, price, snacks, big_eat, simple_eat, oil, rice, discount, buy_way, happen_time, create_time, favorite_time, favorite_degree, size, buy_age, period, detail_type, address, owner, water_spend, type, electric_spend, living_type, happy_degree, who, is_return, out_or_get, ext1, ext2, ext3, ext4, ext5
	</sql>
	<!-- 查询 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_spend_details
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sz_spend_details
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 选择添加 -->
	<insert id="insertSelective" parameterType="com.starzone.pojo.SzSpendDetails">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into sz_spend_details
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="detailShowWay != null">
				detail_show_way,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="color != null">
				color,
			</if>
			<if test="season != null">
				season,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="snacks != null">
				snacks,
			</if>
			<if test="bigEat != null">
				big_eat,
			</if>
			<if test="simpleEat != null">
				simple_eat,
			</if>
			<if test="oil != null">
				oil,
			</if>
			<if test="rice != null">
				rice,
			</if>
			<if test="discount != null">
				discount,
			</if>
			<if test="buyWay != null">
				buy_way,
			</if>
			<if test="happenTime != null">
				happen_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="favoriteTime != null">
				favorite_time,
			</if>
			<if test="favoriteDegree != null">
				favorite_degree,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="buyAge != null">
				buy_age,
			</if>
			<if test="period != null">
				period,
			</if>
			<if test="detailType != null">
				detail_type,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="waterSpend != null">
				water_spend,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="electricSpend != null">
				electric_spend,
			</if>
			<if test="livingType != null">
				living_type,
			</if>
			<if test="happyDegree != null">
				happy_degree,
			</if>
			<if test="who != null">
				who,
			</if>
			<if test="isReturn != null">
				is_return,
			</if>
			<if test="outOrGet != null">
				out_or_get,
			</if>
			<if test="ext1 != null">
				ext1,
			</if>
			<if test="ext2 != null">
				ext2,
			</if>
			<if test="ext3 != null">
				ext3,
			</if>
			<if test="ext4 != null">
				ext4,
			</if>
			<if test="ext5 != null">
				ext5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="detailShowWay != null">
				#{detailShowWay,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>
			<if test="season != null">
				#{season,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=VARCHAR},
			</if>
			<if test="snacks != null">
				#{snacks,jdbcType=VARCHAR},
			</if>
			<if test="bigEat != null">
				#{bigEat,jdbcType=VARCHAR},
			</if>
			<if test="simpleEat != null">
				#{simpleEat,jdbcType=VARCHAR},
			</if>
			<if test="oil != null">
				#{oil,jdbcType=VARCHAR},
			</if>
			<if test="rice != null">
				#{rice,jdbcType=VARCHAR},
			</if>
			<if test="discount != null">
				#{discount,jdbcType=VARCHAR},
			</if>
			<if test="buyWay != null">
				#{buyWay,jdbcType=VARCHAR},
			</if>
			<if test="happenTime != null">
				#{happenTime,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="favoriteTime != null">
				#{favoriteTime,jdbcType=VARCHAR},
			</if>
			<if test="favoriteDegree != null">
				#{favoriteDegree,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				#{size,jdbcType=VARCHAR},
			</if>
			<if test="buyAge != null">
				#{buyAge,jdbcType=VARCHAR},
			</if>
			<if test="period != null">
				#{period,jdbcType=VARCHAR},
			</if>
			<if test="detailType != null">
				#{detailType,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="waterSpend != null">
				#{waterSpend,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="electricSpend != null">
				#{electricSpend,jdbcType=VARCHAR},
			</if>
			<if test="livingType != null">
				#{livingType,jdbcType=VARCHAR},
			</if>
			<if test="happyDegree != null">
				#{happyDegree,jdbcType=VARCHAR},
			</if>
			<if test="who != null">
				#{who,jdbcType=VARCHAR},
			</if>
			<if test="isReturn != null">
				#{isReturn,jdbcType=VARCHAR},
			</if>
			<if test="outOrGet != null">
				#{outOrGet,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				#{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				#{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				#{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				#{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				#{ext5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 选择修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.starzone.pojo.SzSpendDetails">
		update sz_spend_details
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="detailShowWay != null">
				detail_show_way = #{detailShowWay,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				color = #{color,jdbcType=VARCHAR},
			</if>
			<if test="season != null">
				season = #{season,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=VARCHAR},
			</if>
			<if test="snacks != null">
				snacks = #{snacks,jdbcType=VARCHAR},
			</if>
			<if test="bigEat != null">
				big_eat = #{bigEat,jdbcType=VARCHAR},
			</if>
			<if test="simpleEat != null">
				simple_eat = #{simpleEat,jdbcType=VARCHAR},
			</if>
			<if test="oil != null">
				oil = #{oil,jdbcType=VARCHAR},
			</if>
			<if test="rice != null">
				rice = #{rice,jdbcType=VARCHAR},
			</if>
			<if test="discount != null">
				discount = #{discount,jdbcType=VARCHAR},
			</if>
			<if test="buyWay != null">
				buy_way = #{buyWay,jdbcType=VARCHAR},
			</if>
			<if test="happenTime != null">
				happen_time = #{happenTime,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="favoriteTime != null">
				favorite_time = #{favoriteTime,jdbcType=VARCHAR},
			</if>
			<if test="favoriteDegree != null">
				favorite_degree = #{favoriteDegree,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				size = #{size,jdbcType=VARCHAR},
			</if>
			<if test="buyAge != null">
				buy_age = #{buyAge,jdbcType=VARCHAR},
			</if>
			<if test="period != null">
				period = #{period,jdbcType=VARCHAR},
			</if>
			<if test="detailType != null">
				detail_type = #{detailType,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				owner = #{owner,jdbcType=VARCHAR},
			</if>
			<if test="waterSpend != null">
				water_spend = #{waterSpend,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="electricSpend != null">
				electric_spend = #{electricSpend,jdbcType=VARCHAR},
			</if>
			<if test="livingType != null">
				living_type = #{livingType,jdbcType=VARCHAR},
			</if>
			<if test="happyDegree != null">
				happy_degree = #{happyDegree,jdbcType=VARCHAR},
			</if>
			<if test="who != null">
				who = #{who,jdbcType=VARCHAR},
			</if>
			<if test="isReturn != null">
				is_return = #{isReturn,jdbcType=VARCHAR},
			</if>
			<if test="outOrGet != null">
				out_or_get = #{outOrGet,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				ext2 = #{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				ext3 = #{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				ext4 = #{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				ext5 = #{ext5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 组合条件查询 -->
	<select id="querySzSpendDetailsList" parameterType="com.starzone.pojo.SzSpendDetails"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_spend_details where 1=1 
		<!-- <where> -->
			<if test="id != null">
				AND id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="name  != null and name != '' ">
				<!-- AND name = #{name ,jdbcType=VARCHAR} -->
				AND (name like CONCAT('%',#{name},'%') 
				OR happen_time like CONCAT('%',#{name},'%') ) 
			</if>
			<if test="detailShowWay  != null">
				AND detail_show_way = #{detailShowWay ,jdbcType=VARCHAR}
			</if>
			<if test="picUrl  != null">
				AND pic_url = #{picUrl ,jdbcType=VARCHAR}
			</if>
			<if test="color  != null">
				AND color = #{color ,jdbcType=VARCHAR}
			</if>
			<if test="season  != null">
				AND season = #{season ,jdbcType=VARCHAR}
			</if>
			<if test="price  != null">
				AND price = #{price ,jdbcType=VARCHAR}
			</if>
			<if test="snacks  != null">
				AND snacks = #{snacks ,jdbcType=VARCHAR}
			</if>
			<if test="bigEat  != null">
				AND big_eat = #{bigEat ,jdbcType=VARCHAR}
			</if>
			<if test="simpleEat  != null">
				AND simple_eat = #{simpleEat ,jdbcType=VARCHAR}
			</if>
			<if test="oil  != null">
				AND oil = #{oil ,jdbcType=VARCHAR}
			</if>
			<if test="rice  != null">
				AND rice = #{rice ,jdbcType=VARCHAR}
			</if>
			<if test="discount  != null">
				AND discount = #{discount ,jdbcType=VARCHAR}
			</if>
			<if test="buyWay  != null">
				AND buy_way = #{buyWay ,jdbcType=VARCHAR}
			</if>
			<if test="happenTime  != null">
				AND happen_time = #{happenTime ,jdbcType=VARCHAR}
			</if>
			<if test="createTime  != null">
				AND create_time = #{createTime ,jdbcType=VARCHAR}
			</if>
			<if test="favoriteTime  != null">
				AND favorite_time = #{favoriteTime ,jdbcType=VARCHAR}
			</if>
			<if test="favoriteDegree  != null">
				AND favorite_degree = #{favoriteDegree ,jdbcType=VARCHAR}
			</if>
			<if test="size  != null">
				AND size = #{size ,jdbcType=VARCHAR}
			</if>
			<if test="buyAge  != null">
				AND buy_age = #{buyAge ,jdbcType=VARCHAR}
			</if>
			<if test="period  != null">
				AND period = #{period ,jdbcType=VARCHAR}
			</if>
			<if test="detailType  != null">
				AND detail_type = #{detailType ,jdbcType=VARCHAR}
			</if>
			<if test="address  != null">
				AND address = #{address ,jdbcType=VARCHAR}
			</if>
			<if test="owner  != null">
				AND owner = #{owner ,jdbcType=VARCHAR}
			</if>
			<if test="waterSpend  != null">
				AND water_spend = #{waterSpend ,jdbcType=VARCHAR}
			</if>
			<if test="type  != null">
				AND type = #{type ,jdbcType=VARCHAR}
			</if>
			<if test="electricSpend  != null">
				AND electric_spend = #{electricSpend ,jdbcType=VARCHAR}
			</if>
			<if test="livingType  != null">
				AND living_type = #{livingType ,jdbcType=VARCHAR}
			</if>
			<if test="happyDegree  != null">
				AND happy_degree = #{happyDegree ,jdbcType=VARCHAR}
			</if>
			<if test="who  != null">
				AND who = #{who ,jdbcType=VARCHAR}
			</if>
			<if test="isReturn  != null">
				AND is_return = #{isReturn ,jdbcType=VARCHAR}
			</if>
			<if test="outOrGet  != null">
				AND out_or_get = #{outOrGet ,jdbcType=VARCHAR}
			</if>
			<if test="ext1  != null">
				AND ext1 = #{ext1 ,jdbcType=VARCHAR}
			</if>
			<if test="ext2  != null">
				AND ext2 = #{ext2 ,jdbcType=VARCHAR}
			</if>
			<if test="ext3  != null">
				AND ext3 = #{ext3 ,jdbcType=VARCHAR}
			</if>
			<if test="ext4  != null">
				AND ext4 = #{ext4 ,jdbcType=VARCHAR}
			</if>
			<if test="ext5  != null">
				AND ext5 = #{ext5 ,jdbcType=VARCHAR}
			</if>
		<!-- </where> -->
		    order by create_time DESC
	</select>
	
	<!-- 根据type删除消费详情 -->
	<delete id="deleteByType" parameterType="java.lang.String">
		delete from sz_spend_details
		where type = #{type,jdbcType=VARCHAR}
	</delete>
	
	<!-- pie、Bar按年分组查询数据 -->
	<select id="findPieAndBarDatasGroupByYear" parameterType="com.starzone.pojo.SzSpendType" resultType="com.starzone.pojo.SzSpendDetails">
		SELECT DISTINCT
			SUM(t.price) prices,
			LEFT (t.happen_time, 4) AS years
		FROM
			sz_spend_details t
		WHERE
			t.OWNER = #{owner, jdbcType=VARCHAR}
			<if test="detailShowWay  != null and detailShowWay  != '' ">
				AND detail_show_way = #{detailShowWay ,jdbcType=VARCHAR}
			</if>
		GROUP BY
			years
	</select>
	
	<!-- pie、Bar按消费类型分组查的数据，可以按年过滤 -->
	<select id="findPieAndBarDatasGroupByType" parameterType="com.starzone.pojo.SzSpendType" resultType="com.starzone.pojo.SzSpendDetails">
		<!-- SELECT
			a.*, q. NAME
		FROM
			(
				SELECT DISTINCT
					SUM(t.price) typePrices,
					t.detail_show_way detailShowWay
				FROM
					sz_spend_details t
				WHERE
					t. OWNER = #{owner, jdbcType=VARCHAR} 
				GROUP BY
					detailShowWay
			) a
		LEFT JOIN sz_spend_type_new q ON a.detailShowWay = q.detail_show_way
		AND q. OWNER = #{owner, jdbcType=VARCHAR}  -->
		SELECT
			q.detail_show_way detailShowWay,
			q. NAME,
			a.*
		FROM
			sz_spend_type_new q
		LEFT JOIN (
			SELECT DISTINCT
				SUM(t.price) typePrices,
				t.detail_show_way detailShowWay
			FROM
				sz_spend_details t
			WHERE
				t. OWNER = #{owner, jdbcType=VARCHAR}
			GROUP BY
				detailShowWay
		) a ON q.detail_show_way = a.detailShowWay
		WHERE
			q. OWNER = #{owner, jdbcType=VARCHAR}
	</select>
</mapper>