<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starzone.dao.master.SzSpendTypeDao">
	<resultMap id="BaseResultMap" type="com.starzone.pojo.SzSpendType">
	<id column="id" jdbcType="VARCHAR" property="id" />
	<id column="name" jdbcType="VARCHAR" property="name" />
	<id column="detail_show_way" jdbcType="VARCHAR" property="detailShowWay" />
	<id column="owner" jdbcType="VARCHAR" property="owner" />
	<id column="type" jdbcType="VARCHAR" property="type" />
	<id column="create_time" jdbcType="VARCHAR" property="createTime" />
	<id column="isdelete" jdbcType="VARCHAR" property="isdelete" />
	<id column="ext1" jdbcType="VARCHAR" property="ext1" />
	<id column="ext2" jdbcType="VARCHAR" property="ext2" />
	<id column="ext3" jdbcType="VARCHAR" property="ext3" />
	<id column="ext4" jdbcType="VARCHAR" property="ext4" />
	<id column="ext5" jdbcType="VARCHAR" property="ext5" />
	<id column="detail_show_way" jdbcType="INTEGER" property="detailShowWayInt" />
	</resultMap>
	<sql id="BASE_COLUMN_LIST">
	id, name, detail_show_way, owner, type, create_time, isdelete, ext1, ext2, ext3, ext4, ext5
	</sql>
	<!-- 查询 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_spend_type_new
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sz_spend_type_new
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 选择添加 -->
	<insert id="insertSelective" parameterType="com.starzone.pojo.SzSpendType">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into sz_spend_type_new
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="detailShowWay != null">
				detail_show_way,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
			<if test="ext1 != null">
				ext1,
			</if>
			<if test="ext2 != null">
				ext2,
			</if>
			<if test="ext3 != null">
				ext3,
			</if>
			<if test="ext4 != null">
				ext4,
			</if>
			<if test="ext5 != null">
				ext5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="detailShowWay != null">
				#{detailShowWay,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				#{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				#{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				#{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				#{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				#{ext5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 选择修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.starzone.pojo.SzSpendType">
		update sz_spend_type_new
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="detailShowWay != null">
				detail_show_way = #{detailShowWay,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				owner = #{owner,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				ext2 = #{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				ext3 = #{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				ext4 = #{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				ext5 = #{ext5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 组合条件查询 -->
	<select id="querySzSpendTypeList" parameterType="com.starzone.pojo.SzSpendType"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_spend_type_new where 1=1 
		<!-- <where> -->
			<if test="id != null">
				AND id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="name  != null and name != ''">
				AND name like CONCAT('%',#{name},'%')  
			</if>
			<if test="detailShowWay  != null">
				AND detail_show_way = #{detailShowWay ,jdbcType=VARCHAR}
			</if>
			<if test="owner  != null">
				AND owner = #{owner ,jdbcType=VARCHAR}
			</if>
			<if test="type  != null">
				AND type = #{type ,jdbcType=VARCHAR}
			</if>
			<if test="createTime  != null">
				AND create_time = #{createTime ,jdbcType=VARCHAR}
			</if>
			<if test="isdelete  != null">
				AND isdelete = #{isdelete ,jdbcType=VARCHAR}
			</if>
			<if test="ext1  != null">
				AND ext1 = #{ext1 ,jdbcType=VARCHAR}
			</if>
			<if test="ext2  != null">
				AND ext2 = #{ext2 ,jdbcType=VARCHAR}
			</if>
			<if test="ext3  != null">
				AND ext3 = #{ext3 ,jdbcType=VARCHAR}
			</if>
			<if test="ext4  != null">
				AND ext4 = #{ext4 ,jdbcType=VARCHAR}
			</if>
			<if test="ext5  != null">
				AND ext5 = #{ext5 ,jdbcType=VARCHAR}
			</if>
		<!-- </where> -->
		    order by create_time DESC
	</select>
	
</mapper>