<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starzone.dao.master.SzToSelfMessageDao">
	<resultMap id="BaseResultMap" type="com.starzone.pojo.SzToSelfMessage">
	<id column="id" jdbcType="VARCHAR" property="id" />
	<id column="menuid" jdbcType="VARCHAR" property="menuid" />
	<id column="name" jdbcType="VARCHAR" property="name" />
	<id column="userid" jdbcType="VARCHAR" property="userid" />
	<id column="tips_time" jdbcType="VARCHAR" property="tipsTime" />
	<id column="content" jdbcType="VARCHAR" property="content" />
	<id column="istips" jdbcType="VARCHAR" property="istips" />
	<id column="create_time" jdbcType="VARCHAR" property="createTime" />
	<id column="ext1" jdbcType="VARCHAR" property="ext1" />
	<id column="ext2" jdbcType="VARCHAR" property="ext2" />
	<id column="ext3" jdbcType="VARCHAR" property="ext3" />
	<id column="ext4" jdbcType="VARCHAR" property="ext4" />
	<id column="ext5" jdbcType="VARCHAR" property="ext5" />
	</resultMap>
	<sql id="BASE_COLUMN_LIST">
	id, menuid, name, userid, tips_time, content, istips, create_time, ext1, ext2, ext3, ext4, ext5
	</sql>
	<!-- 查询 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_toselfmessage
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sz_toselfmessage
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 选择添加 -->
	<insert id="insertSelective" parameterType="com.starzone.pojo.SzToSelfMessage">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into sz_toselfmessage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="menuid != null">
				menuid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="tipsTime != null">
				tips_time,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="istips != null">
				istips,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="ext1 != null">
				ext1,
			</if>
			<if test="ext2 != null">
				ext2,
			</if>
			<if test="ext3 != null">
				ext3,
			</if>
			<if test="ext4 != null">
				ext4,
			</if>
			<if test="ext5 != null">
				ext5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="menuid != null">
				#{menuid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="tipsTime != null">
				#{tipsTime,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="istips != null">
				#{istips,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				#{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				#{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				#{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				#{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				#{ext5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 选择修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.starzone.pojo.SzToSelfMessage">
		update sz_toselfmessage
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="menuid != null">
				menuid = #{menuid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="tipsTime != null">
				tips_time = #{tipsTime,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="istips != null">
				istips = #{istips,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1,jdbcType=VARCHAR},
			</if>
			<if test="ext2 != null">
				ext2 = #{ext2,jdbcType=VARCHAR},
			</if>
			<if test="ext3 != null">
				ext3 = #{ext3,jdbcType=VARCHAR},
			</if>
			<if test="ext4 != null">
				ext4 = #{ext4,jdbcType=VARCHAR},
			</if>
			<if test="ext5 != null">
				ext5 = #{ext5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=varchar}
	</update>
	<!-- 组合条件查询 -->
	<select id="querySzToSelfMessageList" parameterType="com.starzone.pojo.SzToSelfMessage"
		resultMap="BaseResultMap">
		select
		<include refid="BASE_COLUMN_LIST" />
		from sz_toselfmessage
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="menuid  != null">
				AND menuid = #{menuid ,jdbcType=VARCHAR}
			</if>
			<if test="name  != null">
				AND name = #{name ,jdbcType=VARCHAR}
			</if>
			<if test="userid  != null">
				AND userid = #{userid ,jdbcType=VARCHAR}
			</if>
			<if test="tipsTime  != null">
				AND tips_time = #{tipsTime ,jdbcType=VARCHAR}
			</if>
			<if test="content  != null">
				AND content = #{content ,jdbcType=VARCHAR}
			</if>
			<if test="istips  != null">
				AND istips = #{istips ,jdbcType=VARCHAR}
			</if>
			<if test="createTime  != null">
				AND create_time = #{createTime ,jdbcType=VARCHAR}
			</if>
			<if test="ext1  != null">
				AND ext1 = #{ext1 ,jdbcType=VARCHAR}
			</if>
			<if test="ext2  != null">
				AND ext2 = #{ext2 ,jdbcType=VARCHAR}
			</if>
			<if test="ext3  != null">
				AND ext3 = #{ext3 ,jdbcType=VARCHAR}
			</if>
			<if test="ext4  != null">
				AND ext4 = #{ext4 ,jdbcType=VARCHAR}
			</if>
			<if test="ext5  != null">
				AND ext5 = #{ext5 ,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>